=link_to "Add new class", new_provider_course_path(current_user)

- if courses.blank?
  %p You haven't created a course, #{link_to "create one now...", new_provider_course_path(current_user)}

= link_to "Active Courses", active_provider_courses_path(provider)
