admin dashboard
%table
  %thead
    %tr
      - ["Name", "ADA Number", "Phone", "Email"].each do |heading|
        %th= heading
  %tbody
    - unaproved_providers.each do |provider|
      = render 'admins/providers/provider', provider: provider
