.dashboard
  %h1 Admin Dashboard
  = link_to "All Providers", :admins_providers
  ||
  = link_to "Unapproved Providers", :unapproved_admins_providers
  ||
  = link_to "Approved Providers", :approved_admins_providers
