---
http_interactions:
- request:
    method: get
    uri: http://api.staging.cleartrip.com/air/1.0/search?from=ATL&to=JAX&depart-date=2013-05-12&return-date=2013-05-15&adults=1&permitted-carriers=AA-DL&sort=asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-ct-api-key:
      - f6aac286259adb619073367f77aefbbe
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<air-search-result xmlns=\"http://www.cleartrip.com/air/\">\n\t\t
        \ <solutions>\n    <solution index=\"1\">\n\n      <pricing-summary>\n        <base-fare>5855.0</base-fare>\n
        \       <taxes>1695.37</taxes>\n        <total-fare>7550.37</total-fare>\n
        \     </pricing-summary>\n      <flights>\n      <flight>\n      <segments>\n
        \       <segment>\n          <index>1</index>\n          <departure-airport>ATL</departure-airport>\n
        \         <arrival-airport>JAX</arrival-airport>\n          <departure-date-time>2013-05-12T21:45:00</departure-date-time>\n
        \         <arrival-date-time>2013-05-12T22:58:00</arrival-date-time>\n          <flight-number>1155</flight-number>\n
        \         <airline>DL</airline>\n          <operating-airline>DL</operating-airline>\n
        \         <stops>0</stops>\n          <equipment>757</equipment>\n          <duration>4380</duration>\n
        \       </segment>\n      </segments>\n      </flight>\n      <flight>\n      <segments>\n
        \       <segment>\n          <index>2</index>\n          <departure-airport>JAX</departure-airport>\n
        \         <arrival-airport>ATL</arrival-airport>\n          <arrival-terminal>S</arrival-terminal>\n
        \         <departure-date-time>2013-05-15T12:55:00</departure-date-time>\n
        \         <arrival-date-time>2013-05-15T14:19:00</arrival-date-time>\n          <flight-number>1186</flight-number>\n
        \         <airline>DL</airline>\n          <operating-airline>DL</operating-airline>\n
        \         <stops>0</stops>\n          <equipment>757</equipment>\n          <duration>5040</duration>\n
        \       </segment>\n      </segments>\n      </flight>\n      </flights>\n
        \     <pax-pricing-info-list>\n        <pax-pricing-info>\n          <pax-type>ADT</pax-type>\n
        \         <pricing-info-list>\n            <pricing-info>\n              <index>1</index>\n
        \             <fare-basis-code>TA14KTSA,TA14KTSA</fare-basis-code>\n              <fare-key>supp_AMADEUS_INTERNATIONAL|si-9939aba1-e81d-48d6-bde6-daeef5d47d3c|fk_DL_1155_1368375300000_TA14KTSA,TA14KTSA_false_fk_DL_1186_1368602700000_TA14KTSA,TA14KTSA_false__fpr_7550</fare-key>\n
        \             <fare-type>Non-Refundable</fare-type>\n                            \t<fare-subtype></fare-subtype>
        \                            <pricing-elements>\n\t\t\t\t\t<pricing-element>\n\t\t\t\t\t\t<category>BF</category>\n
        \                 \t\t<amount>5855.0</amount>\n                \t</pricing-element>\n\t\t\t\t\t<pricing-element>\n\t\t\t\t\t\t<category>TAX</category>\n
        \                 \t\t<code>YQ</code>\n                  \t\t<amount>0.0</amount>\n
        \               \t</pricing-element>\n\t\t\t\t\t<pricing-element>\n\t\t\t\t\t\t<category>TAX</category>\n
        \                 \t\t<code>AIRLINE-MSC</code>\n                  \t\t<amount>1623.0</amount>\n
        \               \t</pricing-element>\n\t\t\t\t\t<pricing-element>\n\t\t\t\t\t\t<category>TAX</category>\n
        \                 \t\t<code>CLEARTRIP-SVC</code>\n                  \t\t<amount>72.37</amount>\n
        \               \t</pricing-element>\n              </pricing-elements>\n
        \           </pricing-info>\n          </pricing-info-list>\n          <booking-info-list>\n
        \           <booking-info>\n              <index>1</index>\n              <segment-index>1</segment-index>\n
        \             <pricing-info-index>1</pricing-info-index>\n              <booking-class>T</booking-class>\n
        \             <cabin-type>E</cabin-type>\n              <ticket-type>E</ticket-type>\n
        \             <external-references>\n                  <external-reference>\n
        \                     <name>AMD_VC_ATL_ATL_ADT</name>\n                      <value>DL</value>\n
        \                 </external-reference>\n              </external-references>\n
        \           </booking-info>\n            <booking-info>\n              <index>2</index>\n
        \             <segment-index>2</segment-index>\n              <pricing-info-index>1</pricing-info-index>\n
        \             <booking-class>T</booking-class>\n              <cabin-type>E</cabin-type>\n
        \             <ticket-type>E</ticket-type>\n              <external-references>[...]
