-if course.provider.user_id == current_user.id
  =link_to "Edit", edit_provider_course_path(course)
%dl
  =dtag("Title", course.title)
  =dtag("Description", course.description)
  =dtag("Category", course.category)
  =dtag("Price", course.price)
  =dtag("Instructor", course.instructor)
  =dtag("Address", course.formatted_address)
  =dtag("Email", course.email)
  =dtag("Phone", course.phone)
  =dtag("Audience", course.audience)
  =dtag("Max Attendance", course.max_attendance)
  =dtag("Credits", course.credits)
  =dtag("Start Date", course.formatted_start_date)
  =dtag("End Date", course.formatted_end_date)
