---
http_interactions:
- request:
    method: get
    uri: http://api.staging.cleartrip.com/air/1.0/search?from=ACY&to=FUJ&depart-date=2013-02-02&return-date=2013-02-06&adults=1&permitted-carriers=AA-DL&sort=asc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-ct-api-key:
      - f6aac286259adb619073367f77aefbbe
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml;charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<air-search-result xmlns=\"http://www.cleartrip.com/air/\">\n\t\t
        \ <solutions>\n    <solution index=\"1\">\n\n      <pricing-summary>\n        <base-fare>64375.0</base-fare>\n
        \       <taxes>41457.68</taxes>\n        <total-fare>105832.68</total-fare>\n
        \     </pricing-summary>\n      <flights>\n      <flight>\n      <segments>\n
        \       <segment>\n          <index>1</index>\n          <departure-airport>PHL</departure-airport>\n
        \         <arrival-airport>DFW</arrival-airport>\n          <departure-date-time>2013-02-02T06:25:00</departure-date-time>\n
        \         <arrival-date-time>2013-02-02T09:20:00</arrival-date-time>\n          <flight-number>2231</flight-number>\n
        \         <airline>AA</airline>\n          <operating-airline>AA</operating-airline>\n
        \         <stops>0</stops>\n          <equipment>M83</equipment>\n          <duration>14100</duration>\n
        \       </segment>\n        <segment>\n          <index>2</index>\n          <departure-airport>DFW</departure-airport>\n
        \         <arrival-airport>NRT</arrival-airport>\n          <arrival-terminal>2</arrival-terminal>\n
        \         <departure-date-time>2013-02-02T11:40:00</departure-date-time>\n
        \         <arrival-date-time>2013-02-03T16:15:00</arrival-date-time>\n          <flight-number>61</flight-number>\n
        \         <airline>AA</airline>\n          <operating-airline>AA</operating-airline>\n
        \         <stops>0</stops>\n          <equipment>777</equipment>\n          <duration>52500</duration>\n
        \       </segment>\n        <segment>\n          <inde[...]
- request:
    method: get
    uri: http://www.google.com/finance/converter?a=105832.68&from=INR&to=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIEhUTUwgUFVCTElDICItLy9XM0MvL0RURCBIVE1MIDQuMDEv
        L0VOIiAiaHR0cDovL3d3dy53My5vcmcvVFIvaHRtbDQvc3RyaWN0LmR0ZCI+
  [...]
[...]
